<!doctype html>
<html>
<head>
    {% include 'head.html' %}

    <script> 
        var url = '{{url}}';
    </script>
</head>

<body class="bg-white">
    {% include 'header.html' %}
    <!--div class="graph3">
        <h2>Sign In Page</h2> 
    </div-->

    <!--div class="signin">
        <form action="{{url}}/signin?" method ="POST" >
            <img src="/static/image/logo.png" alt="img commet"><br>
            <input type="text" id="id" name="id"><br>
            <input type="password" id="pw" name="pw"><br>
            <button>Sign In</button>
        </form>
    </div-->

    <div class="container">	
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-5 shadow">
              <div class="modal-header p-5 pb-4 border-bottom-0">
                <h2 class="fw-bold mb-0">Sign in for Pluto</h2>
              </div>

              <div class="row align-items-center">
                <img src="/static/image/sign_in_logo.png" class="img-fluid rounded mx-auto d-block" alt="This is Pluto">
              </div>
    
              
              <div class="modal-body p-5 pt-0">
                <form class="" action="signin" method="post">
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control rounded-4" id="floatingInput" placeholder="name@example.com" name="id">
                    <label for="floatingInput">Email address</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control rounded-4" id="floatingPassword" placeholder="Password" name="pw">
                    <label for="floatingPassword">Password</label>
                  </div>
    
                  <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Sign in</button>
                  
                </form>
              </div>
            </div>
          </div>

    </div>
    
    {% include 'footer.html' %} 
</body>
</html>