html{min-width: 1300px  hidden; min-height: 1500px hidden;height: 100%;}
#wrap .inner{position: relative;width: 1360px;margin: 0 auto;height: 100%;}
#wrap #sub .inner{width: 1200px;}

#footer{background: #1a191b;padding: 45px 0;}
#footer .ftWrap{position: relative;padding-left: 220px;}
#footer .footerLogo{position: absolute;top:0;left:0;max-width:160px;}
#footer address{font-size: 13px;line-height: 20px;color: #888;font-style: normal;}
#footer address hr{width: 15px;border: none;display: inline-block;vertical-align: middle;}
#footer address .copyright{display: block;margin-top: 10px;font-size: 12px;color: #888;}

#sns-ico{font-size: 0;position: absolute;top:0;right:0;}
#sns-ico li{display: inline-block;margin-right: 5px;}

#fnb{margin-bottom: 10px;}
#fnb > li{position: relative;display: inline-block;padding: 0 10px;}
#fnb > li:before{display: block;content: '';width: 1px;height: 10px;background: #5f5e60;position: absolute;top:50%;left:0;margin-top: -5px;}
#fnb > li:first-child{padding-left: 0;}
#fnb > li:first-child:before{display: none;}
#fnb > li a{font-size: 14px;font-weight: 300;color: #999;color: #b3b3b3;}

.my-box{
    border : 1px solid black;
    padding : 40px;
    background-color: #f5f5f5;
    width : 550px;
}

#footer{
    background: #1a191b;
    padding: 45px 0;
}

.footer{
    border : 1px solid;
    padding : 30px;
    background-color: #f5f5f5;
    width : 400px;
}